@import "tailwindcss";

:root {
  --background: #faf9f6;
  --foreground: #1a1a1a;
  --primary: #1a1a1a;
  --secondary: #c5a880;
  --accent: #d4af37;
  --title: #111111;
  --paragraph: #4a4a4a;
  --surface: #ffffff;
  --border-color: #e5e5e5;
}

.dark {
  --background: #121212;
  --foreground: #f5f5f5;
  --primary: #f5f5f5;
  --secondary: #d4af37;
  --accent: #c5a880;
  --title: #ffffff;
  --paragraph: #a3a3a3;
  --surface: #1e1e1e;
  --border-color: #2e2e2e;
}
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-paragraph: var(--paragraph);
  --color-title: var(--title);
  --color-surface: var(--surface);
  --color-border: var(--border-color);
}

@layer base {
  html,
  body {
    background-color: var(--background);
    color: var(--foreground);
    overflow-x: hidden;
    font-family: var(--font-inter), var(--font-hind), ui-sans-serif, system-ui;
    /* Multi Font (Order Important!) */
  }
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, var(--color-primary), transparent);
  border-radius: 50px;
}

/* ডার্ক মোড ভেরিয়েন্ট ডিটেকশন */
@variant dark (&:where(.dark, .dark *));

/* Loader */
/* HTML: <div class="loader"></div> */
.loader {
  width: 20px;
  padding: 3px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #fff;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
